Repository alloy-rs/op-alloy, pull requests merged in 2024-11, with the labels that each got.

#208 feat: Book Setup
  README.md
  book/src/CONTRIBUTING.md
  book/src/LICENSE.md
  book/src/building/rollup-configs.md
  book/src/examples/genesis/loading-a-rollup-config.md
  book/src/intro.md
  book/src/starting/installation.md
Labels: C-docs, A-meta

#209 feat(book): Genesis - Rollup Config
  book/src/building/rollup-configs.md
Labels: C-docs, A-meta

#210 feat: `op-alloy` meta crate
  Cargo.toml
  Justfile
  crates/op-alloy/Cargo.toml
  crates/op-alloy/README.md
  crates/op-alloy/src/lib.rs
Labels: C-enhancement, A-meta

#211 feat(book): Genesis - System Config
  book/src/SUMMARY.md
  book/src/building/README.md
  book/src/building/genesis/rollup-config.md
  book/src/building/genesis/system-config.md
  book/src/examples/README.md
  book/src/intro.md
Labels: C-docs, A-meta

#212 feat(book): Consensus
  book/src/SUMMARY.md
  book/src/building/consensus/transactions.md
Labels: C-docs, A-meta

#213 fix(book): Missing READMEs
  book/src/building/consensus/README.md
  book/src/building/genesis/README.md
Labels: C-docs, A-meta

#214 fix: ci powerset
  .github/workflows/ci.yml
  Justfile
Labels: A-meta, C-bug

#216 fix(ci): Remove Docs gh-page publish
  .github/workflows/ci.yml
Labels: A-book

#218 chore(book): Fix Doc Links
  book/src/building/consensus/transactions.md
  book/src/links.md
  book/src/starting/installation.md
Labels: C-bug, A-book

#222 chore(book): Consensus Docs
  book/src/SUMMARY.md
  book/src/building/consensus.md
  book/src/building/consensus/README.md
  book/src/links.md
  book/src/starting/installation.md
Labels: A-book

#223 chore(book): Genesis Docs
  book/src/building/genesis/README.md
Labels: A-book

#220 fix(book): Small Book Touchups
  README.md
  book/src/intro.md
  book/src/links.md
Labels: A-book

#224 chore(book): Load Rollup Config Example
  book/src/SUMMARY.md
  book/src/examples/README.md
  book/src/examples/genesis/loading-a-rollup-config.md
  book/src/examples/load-a-rollup-config.md
Labels: A-book

#227 fix(book): Links Imports
  book/src/starting/installation.md
Labels: A-book

#228 chore(book): RPC Types
  book/src/building/rpc_types.md
Labels: A-book

#229 feat(book): Engine RPC Types
  book/src/SUMMARY.md
  book/src/building/engine.md
Labels: A-book

#231 chore(rpc-types): Clean up Exports
  crates/rpc-jsonrpsee/src/traits.rs
  crates/rpc-types/src/lib.rs
Labels: A-book

#239 chore: Bump Alloy Deps
  Cargo.toml
Labels: C-deps

#242 fix(consensus): fix arbitrary impl for `OpTxType`
  crates/consensus/src/transaction/envelope.rs
Labels: A-consensus, C-bug

#244 fix(consensus): add conversion for `OpTxType::Eip7702`
  crates/consensus/src/transaction/envelope.rs
Labels: A-consensus, C-bug

#250 fix(book): Broken Mdbook Version
  .github/workflows/book.yml
Labels: A-book

#253 feat(book): Add Badges for Crates
  book/src/building/engine.md
  book/src/building/genesis/README.md
  book/src/building/protocol/README.md
Labels: C-docs, A-book

#252 feat(book): Batches
  book/src/building/protocol/batches.md
Labels: C-docs, A-book

#251 feat(book): Channels
  book/src/building/protocol/batches.md
  book/src/building/protocol/channels.md
  book/src/building/protocol/frames.md
Labels: C-docs, A-book

#226 feat(book): Frames
  book/src/building/protocol/README.md
  book/src/building/protocol/batches.md
  book/src/building/protocol/channels.md
  book/src/building/protocol/frames.md
Labels: A-book

#254 chore(book): Touchup Introduction
  book/src/intro.md
  book/src/links.md
Labels: C-docs, A-book

#255 chore(book): Missing Sections and Enhancements
  book/src/CONTRIBUTING.md
  book/src/SUMMARY.md
  book/src/links.md
  book/src/starting.md
Labels: C-docs, A-book

#256 fix(book): Getting Start Links
  book/src/starting.md
Labels: A-book

#232 chore(book): Frames to Batches Example
  .github/workflows/book.yml
  Cargo.toml
  book/README.md
  book/book.toml
  book/custom.css
  book/src/SUMMARY.md
  book/src/examples/README.md
  book/src/examples/batch-to-frames.md
  book/src/examples/frames-to-batch.md
  book/src/links.md
  crates/consensus/src/transaction/envelope.rs
  crates/protocol/Cargo.toml
  crates/protocol/examples/batch_to_frames.rs
  crates/protocol/examples/frames_to_batch.rs
  crates/protocol/src/batch/single.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/lib.rs
Labels: A-protocol, C-enhancement, A-book

#257 chore(book): Building Docs
  book/src/building/README.md
Labels: A-book

#259 feat(protocol): Batch Encoding
  crates/protocol/src/batch/bits.rs
  crates/protocol/src/batch/core.rs
  crates/protocol/src/batch/errors.rs
  crates/protocol/src/batch/mod.rs
  crates/protocol/src/batch/payload.rs
  crates/protocol/src/batch/prefix.rs
  crates/protocol/src/batch/raw.rs
  crates/protocol/src/batch/transactions.rs
  crates/protocol/src/lib.rs
Labels: A-protocol, C-enhancement

#260 fix(book): Batch over SingleBatch
  book/src/examples/batch-to-frames.md
  book/src/examples/frames-to-batch.md
  crates/protocol/examples/batch_to_frames.rs
  crates/protocol/examples/frames_to_batch.rs
Labels: A-protocol, C-enhancement, A-book

#261 chore(protocol): Re-organizes Modules and Errors
  crates/protocol/src/errors.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/utils.rs
Labels: A-protocol, C-enhancement

#263 feat(protocol): Brotli Compression behind `std`
  crates/consensus/src/receipt/envelope.rs
  crates/protocol/Cargo.toml
  crates/protocol/examples/batch_to_frames.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/utils.rs
Labels: A-protocol, C-enhancement

#268 chore(protocol): Remove TryFrom
  crates/protocol/src/batch/core.rs
  crates/protocol/src/batch/raw.rs
  crates/protocol/src/batch/span.rs
Labels: A-protocol, C-debt

#271 release: v0.6.6
  CHANGELOG.md
  Cargo.toml
Labels: C-release

#264 feat(protocol): ZLIB Compression
  Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/src/channel.rs
Labels: A-protocol, C-enhancement

#265 feat(protocol): Batch Reader
  Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/src/batch/mod.rs
  crates/protocol/src/batch/reader.rs
  crates/protocol/src/brotli.rs
  crates/protocol/src/lib.rs
  crates/protocol/testdata/batch.hex
Labels: A-protocol, C-enhancement

#269 chore(workspace): Use thiserror for Error Types
  Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/src/batch/errors.rs
  crates/protocol/src/block.rs
  crates/protocol/src/brotli.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/errors.rs
  crates/protocol/src/test_utils.rs
  crates/protocol/src/utils.rs
  crates/rpc-types-engine/Cargo.toml
  crates/rpc-types-engine/src/envelope.rs
Labels: C-enhancement, A-meta

#273 chore: Remove Error Impls
  crates/consensus/Cargo.toml
  crates/consensus/src/eip1559.rs
  crates/genesis/Cargo.toml
  crates/genesis/src/system.rs
  crates/protocol/src/block_info.rs
  crates/protocol/src/deposits.rs
Labels: C-debt

#275 chore(protocol): Rm Unused Method
  crates/protocol/src/test_utils.rs
Labels: A-protocol

#276 chore(genesis): Remove Re-exports
  crates/genesis/src/lib.rs
Labels: A-genesis

#285 feat(genesis): Holocene Timestamps on Sepolia
  crates/genesis/src/rollup.rs
Labels: A-genesis

#278 chore(protocol): Cleanup Examples
  book/src/examples/batch-to-frames.md
  book/src/examples/frames-to-batch.md
  book/src/links.md
  crates/protocol/examples/frames_to_batch.rs
Labels: A-protocol

#282 chore(consensus): Move OpTxType and add tests
  crates/consensus/src/transaction/envelope.rs
  crates/consensus/src/transaction/mod.rs
  crates/consensus/src/transaction/tx_type.rs
Labels: A-consensus

#284 chore(protocol): Batch Transaction Mod
  crates/protocol/src/batch/mod.rs
  crates/protocol/src/batch/tx.rs
  crates/protocol/src/lib.rs
Labels: A-protocol, C-debt

#283 chore(consensus): OpTxType Conversion
  crates/consensus/src/transaction/tx_type.rs
Labels: A-consensus

#281 chore(consensus): Signature Definitions
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/hardforks/mod.rs
Labels: A-consensus, C-debt

#274 chore(consensus): Re-export and Hardfork Cleanup
  crates/consensus/Cargo.toml
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/hardforks/mod.rs
  crates/consensus/src/lib.rs
  crates/protocol/src/test_utils.rs
  crates/rpc-types-engine/src/attributes.rs
Labels: A-consensus

#288 chore(consensus): Cleanup Hardforks
  crates/consensus/src/hardforks/bytecode/eip4788_ecotone.hex
  crates/consensus/src/hardforks/bytecode/gpo_ecotone.hex
  crates/consensus/src/hardforks/bytecode/gpo_fjord.hex
  crates/consensus/src/hardforks/bytecode/l1_block_ecotone.hex
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
Labels: A-consensus

#287 release: 0.6.7
  CHANGELOG.md
  Cargo.toml
Labels: C-release

#292 fix(genesis): Base Fee Params
  crates/genesis/src/chain.rs
Labels: A-genesis

#291 chore(genesis): Remove hardcoded configs
  Cargo.toml
  crates/genesis/README.md
  crates/genesis/src/lib.rs
  crates/genesis/src/rollup.rs
  crates/registry/src/configs/base_mainnet.rs
  crates/registry/src/configs/base_sepolia.rs
  crates/registry/src/configs/mod.rs
  crates/registry/src/configs/op_mainnet.rs
  crates/registry/src/configs/op_sepolia.rs
  crates/registry/src/lib.rs
  crates/registry/src/superchain.rs
Labels: C-enhancement, A-genesis

#289 chore(consensus): Trait Abstracted Hardforks
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/hardforks/forks.rs
  crates/consensus/src/hardforks/mod.rs
  crates/consensus/src/hardforks/traits.rs
  crates/consensus/src/hardforks/utils.rs
  crates/consensus/src/lib.rs
Labels: A-consensus, C-hardfork

#294 release: 0.6.8
  CHANGELOG.md
  Cargo.toml
Labels: C-release

#296 fix(protocol): Remove panic in brotli compress method
  crates/consensus/src/hardforks/bytecode/ecotone_tx_0.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_1.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_2.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_3.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_4.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_5.hex
  crates/consensus/src/hardforks/bytecode/fjord_tx_0.hex
  crates/consensus/src/hardforks/bytecode/fjord_tx_1.hex
  crates/consensus/src/hardforks/bytecode/fjord_tx_2.hex
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/hardforks/forks.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/utils.rs
Labels: A-protocol, C-bug

#298 chore(protocol): Move and Extend Brotli Compression
  crates/protocol/src/brotli.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/utils.rs
Labels: A-protocol, C-enhancement

#304 chore: Issue Template Update
  .github/ISSUE_TEMPLATE/BUG-FORM.yml
  .github/ISSUE_TEMPLATE/FEATURE-FORM.yml
Labels: A-meta

#303 chore(protocol): Refactor Block Info Txs
  crates/protocol/src/block.rs
  crates/protocol/src/info/bedrock.rs
  crates/protocol/src/info/ecotone.rs
  crates/protocol/src/info/errors.rs
  crates/protocol/src/info/mod.rs
  crates/protocol/src/info/variant.rs
  crates/protocol/src/lib.rs
Labels: A-protocol, C-enhancement

#300 chore(consensus): EIP-2718 Encoding Trait Impls
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/transaction/deposit.rs
  crates/consensus/src/transaction/envelope.rs
  crates/protocol/src/deposits.rs
Labels: A-consensus, C-enhancement

#306 feat(book): Hardfork Change Example
  book/src/SUMMARY.md
  book/src/examples/README.md
  book/src/examples/new-l1-block-info-tx-hardfork.md
Labels: C-docs

#310 chore(ci): Add missing no_std crates
  crates/op-alloy/src/lib.rs
  scripts/check_no_std.sh
Labels: A-meta, C-debt

#307 chore(registry): Small Cleanup
  crates/registry/src/lib.rs
  crates/registry/src/superchain.rs
  crates/registry/src/test_utils/base_mainnet.rs
  crates/registry/src/test_utils/base_sepolia.rs
  crates/registry/src/test_utils/mod.rs
  crates/registry/src/test_utils/op_mainnet.rs
  crates/registry/src/test_utils/op_sepolia.rs
Labels: A-registry, C-chore

#311 fix(op-alloy): Add Missing Registry Crate
  crates/op-alloy/Cargo.toml
  crates/op-alloy/src/lib.rs
Labels: C-debt, A-op-alloy

#309 chore(workspace): Touchup crate docs with badges
  crates/consensus/README.md
  crates/genesis/README.md
  crates/network/README.md
  crates/op-alloy/README.md
  crates/protocol/README.md
  crates/provider/README.md
  crates/registry/README.md
  crates/rpc-jsonrpsee/README.md
  crates/rpc-types-engine/README.md
  crates/rpc-types/README.md
Labels: A-meta, C-chore

#312 chore(workspace): Remove Hand-rolled Display Error Impls
  crates/consensus/src/eip1559.rs
  crates/genesis/src/system.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/deposits.rs
  crates/protocol/src/frame.rs
  crates/protocol/src/info/errors.rs
Labels: A-meta, C-chore

#308 chore(registry): Dogfood Test Rollup Config
  crates/genesis/src/rollup.rs
  crates/registry/src/superchain.rs
Labels: A-genesis, A-registry, C-chore
