Repository alloy-rs/op-alloy, pull requests merged in 2024-08, with the labels that each got.

#47 fix(rpc): Add Missing Safe Head Endpoint
  crates/rpc-jsonrpsee/src/traits.rs
  crates/rpc-types/src/lib.rs
  crates/rpc-types/src/safe_head.rs
Labels: enhancement

#58 Add ecotone support to `op_alloy_rpc_types::OptimismTransactionReceiptFileds`
  crates/rpc-types/src/receipt.rs
Labels: C-bug

#56 feat(protocol): Core Protocol Types
  Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/README.md
  crates/protocol/src/block.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/frame.rs
  crates/protocol/src/lib.rs
Labels: A-protocol, C-port

#55 feat(consensus): Hardfork Transaction Builders
  Cargo.toml
  crates/consensus/Cargo.toml
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/hardforks/gas_price_oracle_bytecode.hex
  crates/consensus/src/hardforks/mod.rs
  crates/consensus/src/lib.rs
  crates/consensus/src/transaction/mod.rs
  crates/consensus/src/transaction/source.rs
Labels: A-consensus, C-port

#62 fix(rpc): Add l1 block info to OpTransactionReceipt
  crates/rpc-types/src/receipt.rs
Labels: A-rpc-types

#64 feat: Workflow to validate no_std Compatibility
  .github/workflows/no_std.yml
Labels: C-enhancement
