Repository alloy-rs/op-alloy, pull requests merged in 2024-09, with the labels that each got.

#67 fix(docs): l1 gas used deprecated since Fjord not Ecotone
  crates/rpc-types/src/receipt.rs
Labels: C-docs, C-bug

#71 feat(protocol): Exports Frame Constants
  crates/protocol/src/block.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/frame.rs
  crates/protocol/src/lib.rs
Labels: A-protocol, C-enhancement

#72 feat: Feature Powerset Job
  .github/workflows/ci.yml
Labels: A-meta

#75 fix: alloy-rs/core update
  .github/workflows/ci.yml
  .github/workflows/no_std.yml
  Cargo.toml
  clippy.toml
  crates/consensus/Cargo.toml
  crates/consensus/src/receipt/receipts.rs
  crates/consensus/src/transaction/deposit.rs
  crates/consensus/src/transaction/source.rs
  crates/protocol/src/block.rs
Labels: A-protocol, C-enhancement, C-bug

#79 feat: bump superchain-primitives
  Cargo.toml
  crates/protocol/src/block.rs
Labels: C-deps, C-bug

#80 fix(protocol): EIP 2718 Deposit Tx Utility
  crates/protocol/src/lib.rs
  crates/protocol/src/utils.rs
Labels: C-bug

#78 fix: no_std Workflow
  .github/workflows/no_std.yml
  scripts/check_no_std.sh
Labels: A-scripts, A-meta, C-debt

#97 feat: Genesis Types
  Cargo.toml
  crates/genesis/Cargo.toml
  crates/genesis/README.md
  crates/genesis/src/addresses.rs
  crates/genesis/src/chain.rs
  crates/genesis/src/genesis.rs
  crates/genesis/src/lib.rs
  crates/genesis/src/params.rs
  crates/genesis/src/rollup.rs
  crates/genesis/src/system.rs
  scripts/check_no_std.sh
Labels: C-enhancement, C-refactor

#101 feat: Remove alloc flag
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/lib.rs
  crates/consensus/src/transaction/source.rs
Labels: A-consensus, C-debt

#102 chore(genesis): Re-exports Inner Items
  crates/genesis/src/lib.rs
Labels: C-debt, A-genesis

#103 feat(rpc-types): no_std Support
  Cargo.toml
  crates/network/Cargo.toml
  crates/rpc-types/Cargo.toml
  crates/rpc-types/src/lib.rs
  crates/rpc-types/src/net.rs
  crates/rpc-types/src/receipt.rs
  crates/rpc-types/src/transaction.rs
Labels: A-rpc-types, C-enhancement

#104 feat(rpc-types-engine): no_std Support
  crates/rpc-types-engine/Cargo.toml
  crates/rpc-types-engine/src/lib.rs
  crates/rpc-types-engine/src/payload.rs
Labels: A-rpc-types-engine, C-enhancement

#100 feat: Superchain Primitives Removal
  Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/src/block_info.rs
Labels: A-protocol, C-debt

#108 fix(protocol): Invalid Frame Data Length
  crates/protocol/src/frame.rs
Labels: A-protocol, C-bug

#109 fix: no_std for op-alloy-rpc-types-engine
  crates/rpc-types-engine/src/lib.rs
  scripts/check_no_std.sh
Labels: A-rpc-types-engine, A-scripts

#113 chore(engine): Execution Payload V4 Serde Test
  crates/rpc-types-engine/src/payload_v4.rs
Labels: A-rpc-types-engine

#112 feat(engine): Deprecate RollupConfig Argument
  crates/rpc-types-engine/src/lib.rs
Labels: A-rpc-types-engine, C-debt

#114 fix(engine): Missing Error Source
  crates/rpc-types-engine/src/errors.rs
Labels: A-rpc-types-engine, C-enhancement

#119 fix(protocol): Clean up std feature gating
  crates/protocol/src/batch_tx.rs
  crates/protocol/src/block_info.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/deposits.rs
  crates/protocol/src/frame.rs
  crates/protocol/src/lib.rs
Labels: A-protocol, C-debt

#118 feat(protocol): Holocene Support
  crates/protocol/src/block_info.rs
  crates/protocol/src/lib.rs
  crates/rpc-types-engine/src/lib.rs
Labels: A-protocol, C-enhancement, C-hardfork

#120 chore(protocol): Block Hash Refactor
  crates/protocol/src/block_info.rs
Labels: A-protocol, C-debt

#122 feat(genesis): Optimism Base Fee Params
  crates/genesis/src/chain.rs
  crates/genesis/src/lib.rs
  crates/genesis/src/params.rs
  crates/genesis/src/rollup.rs
  crates/rpc-types/src/config.rs
  crates/rpc-types/src/receipt.rs
Labels: C-enhancement, C-debt, A-genesis

#123 feat(genesis): Simplify Log Updates in System Config
  crates/genesis/src/system.rs
Labels: C-enhancement, C-debt, A-genesis

#125 feat(workspace): Use Workspace Level Lints
  Cargo.toml
  crates/consensus/Cargo.toml
  crates/consensus/src/lib.rs
  crates/consensus/src/receipt/envelope.rs
  crates/consensus/src/receipt/receipts.rs
  crates/consensus/src/transaction/envelope.rs
  crates/genesis/Cargo.toml
  crates/genesis/src/lib.rs
  crates/genesis/src/rollup.rs
  crates/genesis/src/system.rs
  crates/network/Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/src/block_info.rs
  crates/protocol/src/channel.rs
  crates/protocol/src/deposits.rs
  crates/protocol/src/frame.rs
  crates/protocol/src/lib.rs
  crates/provider/Cargo.toml
  crates/provider/src/lib.rs
  crates/rpc-jsonrpsee/Cargo.toml
  crates/rpc-jsonrpsee/src/lib.rs
  crates/rpc-types-engine/Cargo.toml
  crates/rpc-types-engine/src/lib.rs
  crates/rpc-types-engine/src/superchain.rs
  crates/rpc-types/Cargo.toml
  crates/rpc-types/src/genesis.rs
  crates/rpc-types/src/lib.rs
  crates/rpc-types/src/net.rs
Labels: C-enhancement, A-meta

#126 chore: use alloy map
  crates/protocol/Cargo.toml
  crates/protocol/src/channel.rs
  crates/rpc-types/Cargo.toml
  crates/rpc-types/src/lib.rs
  crates/rpc-types/src/net.rs
Labels: C-enhancement

#105 feat(consensus): OpBlock Type
  Cargo.toml
  crates/consensus/src/block.rs
  crates/consensus/src/lib.rs
  crates/protocol/Cargo.toml
  crates/protocol/src/block.rs
  crates/protocol/src/lib.rs
Labels: A-consensus, C-enhancement, D-do-not-merge

#128 chore(genesis): Small README Update
  crates/genesis/README.md
Labels: C-docs, A-genesis

#131 feat(consensus): bincode compatibility
  crates/consensus/Cargo.toml
  crates/consensus/src/lib.rs
  crates/consensus/src/transaction/deposit.rs
  crates/consensus/src/transaction/mod.rs
Labels: A-consensus, C-enhancement
