Repository alloy-rs/op-alloy, pull requests merged in 2025-01, with the labels that each got.

#356 chore(rpc): `no_std` support `op-alloy-rpc-jsonrpsee`
  .github/workflows/ci.yml
  crates/rpc-jsonrpsee/Cargo.toml
  crates/rpc-jsonrpsee/src/lib.rs
  crates/rpc-jsonrpsee/src/traits.rs
Labels: A-rpc-jsonrpsee, C-deps

#354 chore(ci): Update target `wasm32-wasi` to `wasm32-wasip1` for ci
  .github/workflows/ci.yml
Labels: A-meta

#335 feat(protocol): Compressors with Mocked Brotli Streaming
  crates/protocol/Cargo.toml
  crates/protocol/src/channel_out.rs
  crates/protocol/src/compression/brotli/compress.rs
  crates/protocol/src/compression/brotli/decompress.rs
  crates/protocol/src/compression/brotli/mod.rs
  crates/protocol/src/compression/config.rs
  crates/protocol/src/compression/mod.rs
  crates/protocol/src/compression/ratio.rs
  crates/protocol/src/compression/shadow.rs
  crates/protocol/src/compression/traits.rs
  crates/protocol/src/compression/types.rs
  crates/protocol/src/compression/variant.rs
  crates/protocol/src/compression/zlib.rs
  crates/protocol/src/lib.rs
Labels: A-protocol, C-feat

#357 chore(ci): Check wasm compilation for `op-alloy-rpc-types` in CI
  .github/workflows/ci.yml
Labels: A-rpc-types, A-meta

#359 Define supervisor API
  crates/rpc-jsonrpsee/Cargo.toml
  crates/rpc-jsonrpsee/src/traits.rs
Labels: A-rpc-jsonrpsee

#365 chore(provider): Migrate `op-alloy-provider`->`op-rs/maili-provider`
  Cargo.toml
  crates/provider/Cargo.toml
  crates/provider/README.md
  crates/provider/src/ext/engine.rs
  crates/provider/src/ext/mod.rs
  crates/provider/src/lib.rs
Labels: C-deps, A-provider

#367 chore(rpc-types-engine): Migrate `op_alloy_rpc_types_engine::superchain`->`op-rs/maili-rpc-types-engine`
  Cargo.toml
  crates/rpc-types-engine/Cargo.toml
  crates/rpc-types-engine/src/lib.rs
  crates/rpc-types-engine/src/superchain.rs
Labels: A-rpc-types-engine, C-deps

#368 release: 0.9.2
  CHANGELOG.md
  Cargo.toml
Labels: C-release

#373 chore(provider): Remove Provider Crate
  Cargo.toml
  README.md
  book/src/links.md
  book/src/starting.md
  crates/op-alloy/Cargo.toml
  crates/op-alloy/README.md
  crates/op-alloy/src/lib.rs
  crates/provider/Cargo.toml
  crates/provider/README.md
  crates/provider/src/lib.rs
Labels: C-chore, A-provider

#372 chore(registry): Remove the Registry Crate
  Cargo.toml
  README.md
  crates/op-alloy/Cargo.toml
  crates/op-alloy/src/lib.rs
  crates/registry/Cargo.toml
  crates/registry/README.md
  crates/registry/src/lib.rs
  scripts/check_no_std.sh
Labels: A-registry, C-chore

#371 chore(protocol): Remove Protocol Crate
  Cargo.toml
  README.md
  crates/op-alloy/Cargo.toml
  crates/op-alloy/README.md
  crates/op-alloy/src/lib.rs
  crates/protocol/Cargo.toml
  crates/protocol/README.md
  crates/protocol/src/lib.rs
  crates/protocol/src/test_utils.rs
  crates/protocol/src/utils.rs
  crates/rpc-jsonrpsee/Cargo.toml
  crates/rpc-jsonrpsee/src/traits.rs
  crates/rpc-types-engine/Cargo.toml
  crates/rpc-types-engine/src/attributes.rs
  scripts/check_no_std.sh
Labels: A-protocol, C-chore

#376 chore: Remove rpc-jsonrpsee Crate
  Cargo.toml
  README.md
  book/src/links.md
  book/src/starting.md
  crates/op-alloy/Cargo.toml
  crates/op-alloy/README.md
  crates/op-alloy/src/lib.rs
  crates/rpc-jsonrpsee/Cargo.toml
  crates/rpc-jsonrpsee/README.md
  crates/rpc-jsonrpsee/src/lib.rs
  crates/rpc-jsonrpsee/src/traits.rs
Labels: A-rpc-jsonrpsee, C-chore

#380 chore(docs): Remove `op-alloy-protocol` from docs
  .github/ISSUE_TEMPLATE/FEATURE-FORM.yml
  README.md
  book/src/SUMMARY.md
  book/src/building/README.md
  book/src/building/protocol/README.md
  book/src/building/protocol/batches.md
  book/src/building/protocol/block-info.md
  book/src/building/protocol/channels.md
  book/src/building/protocol/frames.md
  book/src/examples/README.md
  book/src/examples/batch-to-frames.md
  book/src/examples/frames-to-batch.md
  book/src/examples/new-l1-block-info-tx-hardfork.md
  book/src/links.md
  book/src/starting.md
  crates/genesis/README.md
  crates/op-alloy/README.md
Labels: C-docs, C-debt

#378 chore(rpc): Migrate rpc types to maili
  crates/rpc-types/src/config.rs
  crates/rpc-types/src/lib.rs
  crates/rpc-types/src/net.rs
  crates/rpc-types/src/output.rs
  crates/rpc-types/src/safe_head.rs
  crates/rpc-types/src/sync.rs
Labels: A-rpc-types

#377 chore(consensus): Migrate deposit source to `maili-common`
  Cargo.toml
  crates/consensus/Cargo.toml
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/lib.rs
  crates/consensus/src/transaction/mod.rs
  crates/consensus/src/transaction/source.rs
  crates/rpc-types-engine/Cargo.toml
  crates/rpc-types-engine/src/lib.rs
Labels: A-consensus

#379 chore(provider): Revert #365 remove `OpEngineApi`
  Cargo.toml
  book/src/links.md
  book/src/starting.md
  crates/provider/Cargo.toml
  crates/provider/README.md
  crates/provider/src/ext/engine.rs
  crates/provider/src/ext/mod.rs
  crates/provider/src/lib.rs
Labels: C-blocked, A-provider

#383 chore(consensus): Migrate deposit tx behaviour to `maili`
  crates/consensus/src/lib.rs
  crates/consensus/src/transaction/deposit.rs
  crates/consensus/src/transaction/envelope.rs
  crates/consensus/src/transaction/mod.rs
  crates/rpc-types/src/transaction.rs
Labels: A-consensus

#386 fix(consensus): Remove re-export of `maili` traits
  crates/consensus/src/lib.rs
  crates/rpc-types/Cargo.toml
  crates/rpc-types/src/transaction.rs
Labels: C-deps

#385 chore(deps): Bump `maili` to 0.1.5
  Cargo.toml
  crates/consensus/Cargo.toml
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/lib.rs
  crates/consensus/src/transaction/deposit.rs
  crates/consensus/src/transaction/envelope.rs
  crates/consensus/src/transaction/mod.rs
  crates/consensus/src/transaction/tx_type.rs
  crates/consensus/src/transaction/typed.rs
  crates/provider/Cargo.toml
  crates/provider/src/ext/engine.rs
  crates/rpc-types/Cargo.toml
  crates/rpc-types/src/transaction.rs
  crates/rpc-types/src/transaction/request.rs
Labels: C-deps

#384 release: 0.9.3
  CHANGELOG.md
  Cargo.toml
Labels: C-release

#389 release: 0.9.4
  CHANGELOG.md
  Cargo.toml
Labels: C-release

#392 chore(docs): Update readme
  README.md
Labels: C-docs

#394 release: 0.9.5
  CHANGELOG.md
  Cargo.toml
Labels: C-release
