Repository alloy-rs/op-alloy, pull requests merged in 2025-06, with the labels that each got.

#532 Change `InvalidInboxEntry` repr `i64`->`i32` for `jsonrpsee` error compat
  crates/rpc-types/src/error.rs
Labels: A-rpc-types, C-debt, H-interop

#535 feat(interop): Rename `InvalidInboxEntry`->`SuperchainDAError`
  crates/rpc-types/Cargo.toml
  crates/rpc-types/src/error.rs
  crates/rpc-types/src/lib.rs
Labels: A-rpc-types, H-interop

#539 feat(rpc-types-engine): OpExecutionPayload Wrapper
  crates/rpc-types-engine/src/envelope.rs
  crates/rpc-types-engine/src/lib.rs
Labels: A-rpc-types-engine, C-feat

#544 feat(rpc-types-engine): SSZ Encoding
  Cargo.toml
  crates/rpc-types-engine/Cargo.toml
  crates/rpc-types-engine/src/envelope.rs
  crates/rpc-types-engine/src/payload/mod.rs
Labels: A-rpc-types-engine, C-feat

#547 release: 0.18.1
  CHANGELOG.md
  Cargo.toml
Labels: C-release
