Repository alloy-rs/op-alloy, pull requests merged in 2025-02, with the labels that each got.

#405 feat(consensus): Isthmus Network Upgrade Txs
  crates/consensus/eip2935_isthmus.hex
  crates/consensus/src/hardforks/bytecode/eip2935_isthmus.hex
  crates/consensus/src/hardforks/bytecode/isthmus_tx_1.hex
  crates/consensus/src/hardforks/forks.rs
  crates/consensus/src/hardforks/isthmus.rs
  crates/consensus/src/hardforks/mod.rs
  crates/consensus/src/lib.rs
Labels: A-consensus, C-hardfork

#410 feat(isthmus): define `IsthmusPayloadFields`
  crates/rpc-types-engine/Cargo.toml
  crates/rpc-types-engine/src/lib.rs
  crates/rpc-types-engine/src/sidecar.rs
Labels: A-consensus, H-isthmus

#416 Define `OpExecutionPayload`
  crates/rpc-types-engine/src/lib.rs
  crates/rpc-types-engine/src/payload/mod.rs
  crates/rpc-types-engine/src/payload/v3.rs
  crates/rpc-types-engine/src/payload/v4.rs
Labels: A-rpc-types-engine, H-isthmus

#418 feat(isthmus): define `OpExecutionData`
  crates/rpc-types-engine/src/envelope.rs
  crates/rpc-types-engine/src/lib.rs
  crates/rpc-types-engine/src/payload/mod.rs
Labels: A-rpc-types-engine, H-isthmus

#432 fix: std leakage
  crates/rpc-types-engine/src/attributes.rs
  crates/rpc-types-engine/src/envelope.rs
  crates/rpc-types-engine/src/lib.rs
  crates/rpc-types-engine/src/payload/v3.rs
  crates/rpc-types-engine/src/payload/v4.rs
  crates/rpc-types/src/lib.rs
  crates/rpc-types/src/receipt.rs
Labels: C-chore

#435 feat(l2-withdrawals): Impl conversion to block for `OpExecutionPayloadV4`
  crates/rpc-types-engine/src/payload/v4.rs
Labels: A-rpc-types-engine, H-isthmus

#441 feat(l2-withdrawals): impl conversion payload + sidecar into block
  crates/rpc-types-engine/src/lib.rs
  crates/rpc-types-engine/src/payload/error.rs
  crates/rpc-types-engine/src/payload/mod.rs
  crates/rpc-types-engine/src/sidecar.rs
Labels: A-rpc-types-engine, H-isthmus

#442 feat(l2-withdrawals): Add `OpPayloadError` variants for blob transactions and l1 withdrawals
  crates/rpc-types-engine/src/payload/error.rs
  crates/rpc-types-engine/src/payload/mod.rs
Labels: A-rpc-types-engine

#445 feat(l2-withdrawals): Add methods for prague payload fields to `OpExecutionPayloadSidecar`
  crates/rpc-types-engine/src/sidecar.rs
Labels: A-rpc-types-engine, H-isthmus

#448 chore(consensus): Remove Hardforks
  book/src/building/README.md
  book/src/building/consensus.md
  book/src/links.md
  crates/consensus/src/hardforks/bytecode/ecotone_tx_0.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_1.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_2.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_3.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_4.hex
  crates/consensus/src/hardforks/bytecode/ecotone_tx_5.hex
  crates/consensus/src/hardforks/bytecode/eip2935_isthmus.hex
  crates/consensus/src/hardforks/bytecode/eip4788_ecotone.hex
  crates/consensus/src/hardforks/bytecode/fjord_tx_0.hex
  crates/consensus/src/hardforks/bytecode/fjord_tx_1.hex
  crates/consensus/src/hardforks/bytecode/fjord_tx_2.hex
  crates/consensus/src/hardforks/bytecode/gpo_ecotone.hex
  crates/consensus/src/hardforks/bytecode/gpo_fjord.hex
  crates/consensus/src/hardforks/bytecode/isthmus_tx_1.hex
  crates/consensus/src/hardforks/bytecode/l1_block_ecotone.hex
  crates/consensus/src/hardforks/ecotone.rs
  crates/consensus/src/hardforks/fjord.rs
  crates/consensus/src/hardforks/forks.rs
  crates/consensus/src/hardforks/isthmus.rs
  crates/consensus/src/hardforks/mod.rs
  crates/consensus/src/hardforks/traits.rs
  crates/consensus/src/hardforks/utils.rs
  crates/consensus/src/lib.rs
Labels: A-consensus, C-chore

#455 feat(l2-withdrawals-root): Add conversions for `OpExecutionData`
  crates/rpc-types-engine/src/envelope.rs
  crates/rpc-types-engine/src/payload/mod.rs
Labels: A-rpc-types-engine, C-bug, H-isthmus

#459 Bump msrv to 1.82
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  clippy.toml
  crates/op-alloy/README.md
  crates/rpc-types-engine/src/payload/mod.rs
Labels: C-deps

#460 Add conversions from block to payload
  crates/rpc-types-engine/src/envelope.rs
  crates/rpc-types-engine/src/payload/mod.rs
  crates/rpc-types-engine/src/payload/v4.rs
Labels: A-rpc-types-engine, C-debt

#461 Remove redundant method for v4 payload
  crates/rpc-types-engine/src/envelope.rs
  crates/rpc-types-engine/src/payload/v4.rs
Labels: A-rpc-types-engine, C-debt
