Repository alloy-rs/op-alloy, pull requests merged in 2025-04, with the labels that each got.

#485 feat(rpc-types-engine): SSZ Payload Encoding
  crates/rpc-types-engine/src/envelope.rs
  crates/rpc-types-engine/src/lib.rs
Labels: A-rpc-types-engine, C-feat

#505 feat(consensus): Add interop block replacement deposit source
  crates/consensus/src/source.rs
Labels: A-consensus, C-feat

#506 chore: release 0.15.1
  CHANGELOG.md
  Cargo.toml
Labels: C-release
